@import '../../Shared/varbs.scss';

.resturantContainer{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .AboutUsParagraph{
    margin-top: 60px;
  }
  
  .grayText{
    color: $grayColor;
  }