@import '../../Shared/varbs.scss';

.menuContainer {
    margin-top   : 68px;
    margin-bottom: 68px;
    box-sizing: border-box;
}

.darkLogo {
    width: 350px;

    @media screen and (max-width: $media-sm) {
        width: 300px;
    }
}

.menuSectionTitle {
    color         : rgba($color: $blackColor, $alpha: 0.7);
    letter-spacing: .05rem;
    font-weight   : 300;
    margin-top    : 50px;
}

.menuSectionItems {
    margin-top: 28px;
}

.menuItem {
    padding: 10px 16px;
}

.menuItemTitle {
    color      : rgba($color: $blackColor, $alpha: 0.5);
    font-size  : 17px;
    font-weight: bold;
}

.menuItemDescription {
    color: rgba($color: $grayColor, $alpha: 0.8);
}